<div class="padding-lg container-fluid with-navbar parallax-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 spa-top-lg bg-white well">

                <form>
                    <div class="row spa-bot-lg">
                        <div class="offset-login col-lg-7">
                            <h4 class="text-black text-uppercase text-center"><strong>Ingresá a tu cuenta</strong></h4>
                            <div class="form-group form-group-lg">
                                <label for="correo" class="text-semibold">Email</label>
                                <input type="text" name="email" class="form-control" [(ngModel)]="emailUsuario"
                                    placeholder="Email">
                            </div>
                            <div class="form-group form-group-lg">
                                <label for="contrasenia" class="text-semibold">Contraseña</label>
                                <input type="password" id="contrasenia" name="password" class="form-control"
                                    [(ngModel)]="passUsuario" placeholder="Contraseña:">
                            </div>
                            <button type="submit" class="btn btn-secondary btn-block"
                                (click)="login(); $event.preventDefault();">
                                CONTINUAR
                            </button>
                            <form action="/register" method="get">
                                <button type="submit" class="btn btn-secondary btn-block spa-top-lg">
                                    REGISTRAR USUARIO
                                </button>
                            </form>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>