<div class="padding-lg container-fluid with-navbar parallax-header" data-parallax="scroll" data-image-src="front/img/cabezal/portada_living2.jpg">
  <div class="container">
      <div class="row">
          <div class="col-lg-8 col-lg-offset-2 spa-top-lg bg-white well">
              
              <form method="POST" action="">
                  <div class="row spa-bot-lg">
                      <div class="offset-login col-lg-7">
                          <h4 class="text-black text-uppercase text-center"><strong>Ingresá a tu cuenta</strong></h4>
                          <div class="form-group form-group-lg">
                              <label for="correo" class="text-semibold">Email</label>
                              <input type="email"
                                     id="correo"
                                     name="email"
                                     class="form-control"
                                     placeholder="Email:">
                          </div>
                          <div class="form-group form-group-lg">
                              <label for="contrasenia" class="text-semibold">Contraseña</label>
                              <input type="password"
                                     id="contrasenia"
                                     name="password"
                                     class="form-control"
                                     placeholder="Contraseña:">
                          </div>
                          <button type="submit"
                                  class="btn btn-secondary btn-block">
                              CONTINUAR
                          </button>
                      </div>
                  </div>
              </form>
          </div>
      </div>
  </div>
</div>