<nav class="navbar navbar-expand-lg navbar-light nav">
  <a class="navbar-brand">SEGURIDAD</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
    aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto"></ul>

    <span class="navbar-text">
      <button (click)="salir()" *ngIf="estaAutenticado" class="btn btn-outline-danger">
        CERRAR SESIÓN
      </button>
    </span>
  </div>
</nav>