<div class="nav row"> 
    <div class="col-md-9 align-middle">
            <a><h2>Seguridad</h2></a>
    </div>
  <div class="col-md-3" style="text-align: right">
      <ul class="nav">
          <li class="nav-item">
            <a class="nav-link" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/file">File</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/login">Login</a>
          </li>
        </ul>
  </div>
</div>
<router-outlet></router-outlet>
