<div class="padding-lg container-fluid with-navbar parallax-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 spa-top-lg bg-white well">
                <form>
                    <div class="row spa-bot-lg">
                        <div class="offset-login col-lg-7">
                            <h4 class="text-black text-uppercase text-center"><strong>Manejador de Archivos</strong>
                            </h4>
                            <div class="form-group form-group-lg padding-top-md">
                                <b>Archivo: </b><input type="file">
                            </div>
                            <button type="submit" class="btn btn-secondary btn-block">
                                CIFRAR/DESCIFRAR
                            </button>
                            <form action="/register" method="get">
                                <button type="submit" class="btn btn-secondary btn-block spa-top-lg">
                                    FIRMAR
                                </button>
                            </form>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>