<app-navbar></app-navbar>

<div class="padding-lg container-fluid with-navbar parallax-header">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 spa-top-lg bg-white well">
        <form>
          <div class="row spa-bot-lg">
            <div class="offset-login col-lg-7">
              <h4 class="text-black text-uppercase text-center"><strong>Manejador de Archivos</strong>
              </h4>
              <div class="form-group form-group-lg padding-top-md">
                <b>Archivo: </b><input type="file">
              </div>
              <div class="form-group form-group-lg">
                <b>Clave: </b><input type="text" class="width-100">
              </div>
              <button class="btn btn-secondary btn-block">
                CIFRAR
              </button>
              <button class="btn btn-secondary btn-block">
                DESCIFRAR
              </button>
              <button class="btn btn-secondary btn-block spa-top-lg">
                FIRMAR
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>